<div class="searchBar">
  <div class="container">
    <!--This is a search form that, when submitted, will send the user’s search
    text to your backend at /search using the POST method. -->

    <form action="/search" class="search__form" role="search" method="POST">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site."
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
